<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="factoryConfiguration" type="Vitamedica.Base.Factory.Configuration.FactoryConfiguration" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="APPID" value="VTC" />
  </appSettings>
  <connectionStrings>
    <add name="CnnStringSql" connectionString="Data source=150.130.102.102; Initial catalog=vitanetcorp;user id=uf_vitanetcorp;password=n3wp0rt4l;" providerName="System.Data.SqlClient" />
    <add name="CnnStringSqlPortal" connectionString="Data Source=150.130.102.102; Initial Catalog=vitaportal; User ID=owner_vitaportal; Pwd=esqu3m4;" providerName="System.Data.SqlClient" />
    <add name="CnnStringSybaseFacets" connectionString="Data Source=150.130.102.56,4032; Database=facets_prd;port=4032;UID=jsanchez;PWD=mexico15;Language=us_english;Connection Lifetime=120;Connection Idle Timeout=120;" providerName="Sybase.Data.AseClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <factoryConfiguration>
    <factorySettings>
      <!-- Domain -->

      <!-- Repository -->

    </factorySettings>
  </factoryConfiguration>
</configuration>
